# Auto detect text files and perform LF normalization
* text=auto
*.xml linguist-language=Kotlin
*.gradle linguist-language=Kotlin
*.pro linguist-language=Kotlin
*.properties linguist-language=Kotlin
